rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function signedIn() {
      return request.auth != null;
    }

    function currentUserPath() {
      return /databases/(default)/documents/users/$(request.auth.uid);
    }

    function currentUserIsApproved() {
      return signedIn()
        && firestore.exists(currentUserPath())
        && firestore.get(currentUserPath()).data.approval_status == "approved";
    }

    match /clients/{clientPath=**} {
      allow read, write: if currentUserIsApproved();
    }
  }
}
